{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Assembleia {% endblock %}</title>
    <meta name="description" content="Igreja assembleia">
    <meta name="author" content="Helton Teixeira">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'base/img/site.webmanifest' %}">

    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/scripts.js' %}"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


<header class="p-3 nav-style text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 ml-lg-0 text-white text-decoration-none">
                <img class="navbar-brand logo"  src="{% static 'base/img/logo-nav.png' %}">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link text-secondary">Home</a></li>
                <li><a href="#" class="nav-link  text-white">Galeria</a></li>
                <li><a href="#" class="nav-link  text-white">Blog</a></li>
                <li><a href="#" class="nav-link  text-white">Sobre nós</a></li>
            </ul>

<!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
<!--                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">-->
<!--            </form>-->

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
<!--                <button type="button" class="btn btn-warning">Sign-up</button>-->
            </div>
        </div>
    </div>
</header>

<!--          <nav class="navbar navbar-expand-lg navbar-dark shadow-sm p-1 nav-style">-->

<!--              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--              </button>-->
<!--              <a href="{% url 'base:home' %}">-->
<!--                <img class="navbar-brand logo"  src="{% static 'base/img/logo-nav.png' %}">-->
<!--              </a>-->
<!--              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--                <ul class="navbar-nav ml-auto">-->
<!--                    <li class="nav-item active">-->
<!--                     <a class="nav-link" href=""><h5> Quem somos </h5><span class="sr-only">(current)</span></a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                     <a class="nav-link" href=""><h5> Atividades </h5><span class="sr-only">(current)</span></a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                      <a class="nav-link" href=""><h5>Seja voluntário</h5></a>-->
<!--                  </li>-->
<!--&lt;!&ndash;                   <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                       <a class="nav-link" href="#"><h5>Empresas parceiras</h5></a>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--                </ul>-->
<!--&lt;!&ndash;                  <a class="ml-auto botao" href="">Doe Agora</a>&ndash;&gt;-->
<!--              </div>-->
<!--          </nav>-->


  {% block content %}
  {% endblock %}

<!-- FOOTER (rodapé)-->

<div class="d-flex flex-column h-100">

    <!-- FOR DEMO PURPOSE -->
    <section class="hero text-white py-5 flex-grow-1">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4">Bootstrap footer bottom</h1>
                    <p class="fst-italic text-muted">Using Bootstrap 5 flexbox utilities, create a footer that always sticks to the bottom of your viewport. Snippet by <a class="text-primary" href="https://bootstrapious.com/" target="_blank">Bootstrapious</a></p>
                </div>
            </div>
        </div>
    </section>

    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Contato</h5>
                    <p class="small text-muted">Telefone: <a href="tel:+551132282064" class="text-light">(11) 3228-2064</a> </p>
                     <p class="small text-muted">Telefone: <a href="tel:+551132282064" class="text-light">(11) 3311-7864</a>  </p>
                    <p class="small text-muted">Sede: Rua Ateneu nº 165, Montes claros - MG </p>
                    <p class="small text-muted">Setor 2: Av Dois, nº 401, Recanto das águas - MG</p>
                    <p class="small text-muted">Setor 3: Rua Lago da vitória nº 26b, <br>Jardim Aurélio, Sâo Paulo - SP</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Redes Sociais</h5>
                    <ul class="list-unstyled text-muted">
                        <li><img src="{% static 'base/img/intagram.png' %}" height="20" width="20" alt="icone instagram" /> iadmissionaria01</li>
<!--                        <li><a href="#">FAQ</a></li>-->
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>

</div>
</div>
<div class="rights pl-5 pb-2">
    <div class="row">
        <div class="col-md-auto pt-4">
            <!--                                        <img src="{% static 'base/img/logo-assembleia.png' %}" height="65" width="110" alt="Logo Assembleia"  />-->
        </div>
        <div class="col pt-4">
            <h5 class="text-center">Louvado seja o senhor. <br>
                Conheça nosso trabalho: https://www.facebook.com/xxxxx</h5>
        </div>
    </div>
</div>


</body>
</html>