{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} Casa de Simeão {% endblock %}</title>
    <meta name="description" content="Igreja assembleia">
    <meta name="author" content="Time 12!">

    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/scripts.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


          <nav class="navbar navbar-expand-lg navbar-dark shadow-sm p-3 nav-style">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a href="{% url 'base:home' %}">
                <img class="navbar-brand logo"  src="{% static 'base/img/logo_casa_de_simeao.png' %}">
              </a>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                     <a class="nav-link" href=""><h5> Quem somos </h5><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href=""><h5> Atividades </h5><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href=""><h5>Seja voluntário</h5></a>
                  </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#"><h5>Empresas parceiras</h5></a>
                  </li>
                </ul>
                  <a class="ml-auto botao" href="">Doe Agora</a>
              </div>
          </nav>


  {% block content %}
  {% endblock %}

<!-- FOOTER (rodapé)-->
					<footer class="main-footer mt-4 pt-4 text-light">
						<div class="container">
							<div class="row">
								<div class="col">
									<h4>Igreja assembleia</h4>
                                    <h5>Entre em contato:</h5>
									<address>
										Telefone: <a href="tel:+551132282064" class="text-light">(11) 3228-2064</a> <br>
                                        Telefone: <a href="tel:+551132282064" class="text-light">(11) 3311-7864</a> <br>

                                        Rua Assunção nº 480 Brás
									</address>
								</div>
                                <div class="col">
                                    <h5>Redes socias</h5>
                                    <img src="{% static 'base/img/intagram.png' %}" height="20" width="20" alt="icone instagram" /> casadesimeao
                                </div>
                                <div class="col">
                                    <h5>Home</h5>
                                    <p>Quem somos</p>
                                </div>
                                <div class="row">
                                <div class="col">
                                    <h5>Empresas parceiras</h5>
                                    <p>Selo de parceria</p>
                                </div>
                                </div>
                                <div class="row pt-5">
                                <div class="col pl-5">
                                    <a class="ml-auto botao" href="">Doe Agora</a>
                                </div>
                                </div>
							</div>
						</div>
						<div class="rights pl-5 pb-2">

								<div class="row">
									<div class="col-md-auto pt-4">
                                        <img src="{% static 'base/img/logoreciclazaroBranco.png' %}" height="75" width="150" alt="Logo reciclazaro"  />
									</div>
                                    <div class="col pt-4">
                                        <h5 class="text-center">Louvado seja o senhor. <br>
                                            Conheça nosso trabalho: https://www.facebook.com/xxxxx</h5>
                                    </div>
								</div>
							</div>

					</footer>
</body>
</html>