{% extends 'base.html' %}
{% load static %}


{% block content %}
<main role="main">

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="logo-capa img-fluid" src="{% static 'base/img/logo-nav.png' %}">
                <!--        <h1 class="fw-light">Album example</h1>-->
                <!--        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>-->
                <!--        <p>-->
                <!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                <!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
                <!--        </p>-->
            </div>
        </div>
    </section>
    <section class="text-center pb-4 pt-3 section-blue text-white">
        <!--        <div class="container">-->
        <!--            <div class="row">-->
        <!--                <div class="col">-->
        <!--                    <img src="{% static 'base/img/user.png' %}" alt="icone de pessoas"/>-->
        <!--                    <h5>Oficinas</h5>-->
        <!--                    <p class="lead">-->
        <!--                        Promover a criatividade e participação dos usuários em diversas atividades como culinária e-->
        <!--                        informática.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col">-->
        <!--                    <img src="{% static 'base/img/educator.png' %}" alt="icone de palestra"/>-->
        <!--                    <h5>Palestras</h5>-->
        <!--                    <p class="lead">-->
        <!--                        Informações sobre diversos temos, tendo como objetivo trazer novos conhecimentos, orientações,-->
        <!--                        direitos e socialização.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col">-->
        <!--                    <img src="{% static 'base/img/house.png' %}" alt="icone de uma casa"/>-->
        <!--                    <h5>Moradia autônoma</h5>-->
        <!--                    <p class="lead">-->
        <!--                        Atividade de reflexão, orientação e preparação para moradia autônoma.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col">-->
        <!--                    <img src="{% static 'base/img/music.png' %}" alt="icone de nota musical"/>-->
        <!--                    <h5>Roda de música</h5>-->
        <!--                    <p class="lead">-->
        <!--                        Promover descontração, integração e criatividade.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col">-->
        <!--                    <img src="{% static 'base/img/park.png' %}" alt="icone de parque"/>-->
        <!--                    <h5>Lazer</h5>-->
        <!--                    <p class="lead">-->
        <!--                        Realização de passeios, visitas culturais e eventos visando a convivência coletiva.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!-- Page Content -->
        <div class="container">

            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Galeria</h1>

            <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-start">

                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300"
                             alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300"
                             alt="">
                    </a>
                </div>
            </div>

        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Postagens</h1>

            <hr class="mt-2 mb-5">

                <section class="bg-light py-4 my-5">
                    <div class="container">
                        <div class="row">
                            {% for post in posts %}
                            <div class="col-md-6 col-lg-4">
                                <div class="card my-3">

                                    <img src="{{ post.img.url }}"
                                         class="card-image-top" alt="{{ post.title }}">

                                    <div class="card-body">
                                        <h3 class="card-title"><a href="#" class="text-secondary">{{ post.title|title }}</a></h3>
                                        <p class="card-text">{{ post.body|linebreaks }} </p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
                                        <small class="text-muted">{{ post.publish|timesince }}</small>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

</main>
{% endblock %}