{% extends 'base.html' %}
{% load static %}


{% block content %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="logo-capa img-fluid" src="{% static 'base/img/logo-nav.png' %}">
                <!--        <h1 class="fw-light">Album example</h1>-->
                <!--        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>-->
                <!--        <p>-->
                <!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                <!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
                <!--        </p>-->
            </div>
        </div>
    </section>
    <section class="text-center pb-4 pt-3 section-blue text-white">
        <div class="container">

            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Galeria</h1>

            <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-start">

                {% for photo in photos %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="{{ photo.img.url }}" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{ photo.img.url }}"
                             alt="">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Postagens Recentes</h1>

            <hr class="mt-2 mb-5">

                <section class="bg-light py-4 my-5">
                    <div class="container">
                        <div class="row">
                            {% for post in posts %}
                            <div class="mb-4">
                                    <div class="body">
                                        <h3 class="title"><a href="{{ post.get_absolute_url }}" class="text-secondary">{{ post.title|title }}</a></h3>
                                        <br>
                                          <img src="{{ post.img.url }}" style="width: 300px; height: 500px;"
                                         class="card-image-top " alt="{{ post.title }}">
                                        <br>

                                        <p class="text">{{ post.body|safe|truncatewords:50|linebreaks}} </p>
                                        <small class="text-muted">Publicado: {{ post.publish|timesince }} atrás, por {{ post.author.first_name|title }}.</small>
                                        <br>
                                        <br>
                                    </div>
                            </div>
                            {% endfor %}


                        </div>

                    </div>
                <br>
                <a href="{% url 'blog:post_list' %}" class="btn btn-primary">Ver todas</a>
                </section>
        </div>
    </div>
{% endblock %}