DEBUG=True
SECRET_KEY=defina sua chave secreta
ALLOWED_HOSTS=127.0.0.1, localhost
DATABASE_URL=postgres://postgres:postgres@localhost/testdb

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# EMAIL CREDENTAILS
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD

#Cors
CORS_ALLOWED_ORIGINS=http://localhost:8080, http://127.0.0.1:8000
