.main-footer{
    background-color: #032872;
    color: white;
}

.botao{
    background-color: #CC0000;
    color: white;
    border-radius: 20px;
    padding: 8px;
    transition: 0.2s;
}

.botao:hover{
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #770000;
}


.nav-style{
    background-color: #032872;
    color: white;
}
.rights{
    background-color: #1B2E56;
    color: white;
}

.logo{
    border-radius: 11px;
    max-width:90px;
    max-height:70px;
    width: auto;
    height: auto;
}
.foto-capa{
    max-width:1350px;
    max-height:400px;
    width: auto;
    height: auto;
}
.font-capa{
        font-weight: 900;
        font-size: 40px;
        }

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.section-blue{
    background-color: #032872;
}

.card-one{
    background-color: #BB0202;
}

.card-two{
    background-color: #9C0000;
}
.card-three{
    background-color: #770000;
}