{% extends 'base.html' %}

{% block content %}
 <div class="container">
    <article>
      <header>
        <h2>
          {{ post.title }}
        </h2>
        <p class="date">Publicado em <time datetime="2021-04-12T13:00:24+01:00">{{ post.created }}</time> por <a href="#">{{ post.author.first_name }}</a> </p>
      </header>
        <div class="cont">
          <img style="width: 350px; margin-top: 20px;" src="{{ post.img.url }}">
        </div>
      <p>{{ post.body|linebreaks }}</p>
      <br>
           <p>Fonte: {{ post.fonte }}</p>
    </article>
  </div>
{% endblock content %}
