{% extends 'base.html' %}

{% block title %} login {% endblock title %}
{% block content %}

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://img.freepik.com/vetores-gratis/inscricao-online-e-conceito-de-inscricao-com-o-personagem-homem_268404-98.jpg?w=1380"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <span style="color: red">{{ form.non_field_errors }} </span>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            {% if form.email.errors %}
                                <label class="error" style="color:red">{% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                                </label>
                            {% endif %}
                            <input type="email" id="id_email" name="email" class="form-control form-control-lg"/>
                            <label class="form-label" for="form1Example13">Email</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            {% if form.password.errors %}
                                <label class="error" style="color:red">{% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                                </label>
                            {% endif %}
                            <input type="password" id="id_password" name="password"
                                   class="form-control form-control-lg"/>
                            <label class="form-label" for="form1Example23">Senha</label>
                        </div>

                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
                                <label class="form-check-label" for="form1Example3"> Remember me </label>
                            </div>
                            {#                            <a href="#!">Forgot password?</a>#}
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>


                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}